.side-nav-bg12 {
  align-self: stretch;
  height: 720px;
  position: relative;
  background-color: var(--black-2);
  display: none;
}
.side-nav-bg13 {
  height: 60px;
  width: 256px;
  position: relative;
  background-color: var(--color-gray-200);
  display: none;
}
.logo-2-2-14,
.pharma-one4 {
  position: relative;
  z-index: 2;
}
.logo-2-2-14 {
  height: 42px;
  width: 42px;
  object-fit: contain;
}
.pharma-one4 {
  font-size: var(--font-size-lg);
  line-height: 24px;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--white);
  text-align: left;
  display: inline-block;
  min-width: 115px;
}
.pharma-one-frame,
.side-nav-bg-parent6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.side-nav-bg-parent6 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-5xl);
  background-color: var(--color-gray-200);
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-base);
  z-index: 1;
}
.husein4 {
  flex: 1;
  position: relative;
  font-weight: 500;
  z-index: 1;
}
.husein-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-4xl);
}
.avatar,
.super-admin4 {
  position: relative;
  z-index: 1;
}
.avatar {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: var(--color-mediumspringgreen);
  border: 0 solid var(--color-darkslategray-100);
  box-sizing: border-box;
}
.super-admin4 {
  display: inline-block;
  min-width: 71px;
}
.avatar-parent {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-4xs);
  font-size: var(--font-size-2xs);
  color: var(--color-gold-100);
}
.avatar-parent,
.frame-parent27,
.frame-wrapper35 {
  display: flex;
  align-items: flex-start;
}
.frame-parent27 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.frame-wrapper35 {
  width: 232px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-16xl);
  box-sizing: border-box;
}
.frame-child65 {
  height: 46px;
  width: 256px;
  position: relative;
  background-color: var(--black-2);
  display: none;
}
.navigation-icon1 {
  width: 14px;
  height: 14px;
  position: relative;
  z-index: 1;
}
.navigation-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.dashboard5 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 79px;
  z-index: 1;
}
.rectangle-parent37 {
  align-self: stretch;
  background-color: var(--black-2);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-5xl) var(--padding-xs);
  gap: var(--gap-xs);
  cursor: pointer;
  z-index: 1;
}
.frame-child66 {
  height: 46px;
  width: 256px;
  position: relative;
  background-color: var(--black-2);
  display: none;
}
.group-icon6 {
  width: 14px;
  height: 14px;
  position: relative;
  z-index: 1;
}
.nav-item-with-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.inventory6 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 67px;
  z-index: 1;
}
.nav-item-with-icon-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.setting-nav-icons {
  width: 8px;
  height: 4.7px;
  position: relative;
  z-index: 1;
}
.rectangle-parent38,
.settings-nav-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.rectangle-parent38 {
  align-self: stretch;
  background-color: var(--black-2);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-smi) var(--padding-5xl) var(--padding-xs);
  gap: var(--gap-xl);
  cursor: pointer;
  z-index: 1;
}
.frame-child67 {
  height: 46px;
  width: 256px;
  position: relative;
  background-color: var(--black-2);
  display: none;
}
.group-icon7 {
  width: 14px;
  height: 7.6px;
  position: relative;
  z-index: 1;
}
.group-wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
}
.reports5 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 54px;
  z-index: 1;
}
.frame-parent30 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.vector-icon19 {
  width: 8px;
  height: 4.7px;
  position: relative;
  z-index: 1;
}
.rectangle-parent39,
.vector-wrapper13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.rectangle-parent39 {
  align-self: stretch;
  background-color: var(--black-2);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-smi) var(--padding-5xl) var(--padding-xs);
  gap: var(--gap-xl);
  cursor: pointer;
  z-index: 1;
}
.frame-child68 {
  height: 46px;
  width: 256px;
  position: relative;
  background-color: var(--color-darkcyan);
  display: none;
}
.vector-icon20 {
  width: 14px;
  height: 14px;
  position: relative;
  z-index: 1;
}
.vector-wrapper14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.configuration3 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 98px;
  z-index: 1;
}
.frame-parent28,
.frame-parent29,
.rectangle-parent40 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent40 {
  background-color: var(--color-darkcyan);
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-5xl) var(--padding-xs);
  gap: var(--gap-xs);
  z-index: 1;
}
.frame-parent28,
.frame-parent29 {
  flex-direction: column;
}
.navigation-options-child {
  align-self: stretch;
  height: 0.2px;
  position: relative;
  border-top: 0.2px solid var(--white);
  box-sizing: border-box;
  z-index: 1;
}
.frame-parent26,
.navigation-options {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-parent26 {
  align-items: flex-end;
  padding: 0 0 126.8px;
  gap: var(--gap-12xl);
}
.bottom-separator {
  height: 0.2px;
  flex: 1;
  position: relative;
  border-top: 0.2px solid var(--white);
  box-sizing: border-box;
  z-index: 1;
}
.bottom-separator-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 140.8px;
}
.frame-child69 {
  height: 34px;
  width: 256px;
  position: relative;
  background-color: var(--color-gray-100);
  display: none;
}
.powered-by-husein1,
.v-1121 {
  position: relative;
  z-index: 1;
}
.v-1121 {
  text-align: right;
  display: inline-block;
  min-width: 25px;
}
.rectangle-parent41 {
  align-self: stretch;
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-4xl) var(--padding-4xs)
    var(--padding-5xl);
  gap: var(--gap-xl);
  z-index: 1;
  font-size: var(--font-size-3xs);
  color: var(--color-gray-300);
}
.page-structure {
  width: 256px;
  background-color: var(--black-2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xl);
}
.side-nav-bg14,
.top-bar-bg5 {
  position: relative;
  display: none;
}
.side-nav-bg14 {
  align-self: stretch;
  height: 60px;
  background-color: var(--color-ghostwhite);
}
.top-bar-bg5 {
  height: 38px;
  width: 440px;
  border-radius: var(--br-9xs);
  background-color: var(--color-aliceblue);
  max-width: 100%;
}
.search-for-anything4 {
  width: 154px;
  border: 0;
  outline: 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-xs);
  background-color: transparent;
  height: 18px;
  position: relative;
  color: var(--color-gray-500);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.search-icon2 {
  width: 14px;
  height: 14px;
  position: relative;
  z-index: 2;
}
.search-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.frame-wrapper37,
.top-bar-bg-parent3 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.top-bar-bg-parent3 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--color-aliceblue);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-2xs) var(--padding-xs) var(--padding-4xs);
  gap: var(--gap-xl);
  z-index: 1;
}
.frame-wrapper37 {
  width: 440px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.translate-black-24dp-1-icon4 {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 20px;
  z-index: 1;
}
.english-us4 {
  position: relative;
  display: inline-block;
  min-width: 72px;
  z-index: 1;
}
.english-us-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.dropdown-icon1 {
  width: 8px;
  height: 4.7px;
  position: relative;
  z-index: 1;
}
.dropdown-icon-wrapper {
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
}
.dropdown-icon-wrapper,
.frame-wrapper38,
.translate-black-24dp-1-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.translate-black-24dp-1-container {
  flex-direction: row;
  gap: var(--gap-4xs);
}
.frame-wrapper38 {
  flex-direction: column;
  padding: var(--padding-3xs) 0 0;
}
.greeting-avatar1 {
  height: 18px;
  width: 18px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gold-100);
  z-index: 1;
}
.good-morning4 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  min-width: 100px;
  z-index: 1;
}
.greeting-avatar-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.january-20225 {
  position: relative;
  display: inline-block;
  min-width: 96px;
  z-index: 2;
}
.date-icon1 {
  width: 2px;
  height: 2px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-gold-100);
  z-index: 1;
}
.date-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.day {
  position: relative;
  display: inline-block;
  min-width: 51px;
  white-space: nowrap;
  z-index: 2;
}
.frame-parent35 {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-8xs-3);
}
.frame-parent34,
.frame-parent35,
.january-2022-parent1 {
  display: flex;
  justify-content: flex-start;
}
.january-2022-parent1 {
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-7xs);
  margin-top: -2px;
  text-align: left;
  font-size: var(--font-size-xs);
}
.frame-parent34 {
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  font-size: var(--font-size-sm);
}
.frame-parent32,
.frame-parent33 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent33 {
  width: 362px;
  justify-content: flex-start;
  gap: var(--gap-65xl);
}
.frame-parent32 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.content-separator,
.frame-wrapper36 {
  align-self: stretch;
  box-sizing: border-box;
}
.frame-wrapper36 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-21xl);
  max-width: 100%;
}
.content-separator {
  height: 0.4px;
  position: relative;
  border-top: 0.4px solid var(--color-gray-400);
  z-index: 2;
}
.side-nav-bg-parent7 {
  align-self: stretch;
  background-color: var(--color-ghostwhite);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.configurations1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 24px;
  font-weight: 700;
  font-family: inherit;
}
.configure-your-pharmacy {
  position: relative;
  font-size: var(--font-size-sm);
}
.configurations-parent,
.frame-wrapper40 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.configurations-parent {
  flex-direction: column;
  gap: var(--gap-2xs);
}
.frame-wrapper40 {
  flex-direction: row;
  padding: 0 var(--padding-17xl) var(--padding-8xs) var(--padding-16xl-7);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child70 {
  align-self: stretch;
  height: 140px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--white);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  display: none;
}
.branding {
  width: 75px;
  border: 0;
  outline: 0;
  font-weight: 600;
  font-family: var(--font-poppins);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 22px;
  position: relative;
  line-height: 22px;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.info-option-icons {
  width: 14px;
  height: 14px;
  position: relative;
  z-index: 1;
}
.options-pair,
.owner-info-option {
  display: flex;
  align-items: flex-start;
}
.owner-info-option {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.options-pair {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.frame-child71,
.options-row {
  align-self: stretch;
  box-sizing: border-box;
}
.options-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-7xl) 0 var(--padding-11xl);
  max-width: 100%;
}
.frame-child71 {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-gray-400);
  z-index: 1;
}
.options-row-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.enter-name,
.pharmacy-name {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 120px;
  z-index: 1;
}
.enter-name {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.pharmacy-name {
  font-size: var(--font-size-sm);
  font-weight: 500;
}
.input-pair {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.ph349ty228,
.pharmacy-id {
  position: relative;
  line-height: 22px;
  display: inline-block;
  min-width: 127px;
  z-index: 1;
}
.pharmacy-id {
  font-size: var(--font-size-sm);
  font-weight: 500;
  min-width: 91px;
}
.id-pair {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.input-fields,
.input-rows {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.input-rows {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.input-fields {
  width: 421px;
  justify-content: flex-start;
  padding: 0 var(--padding-11xl);
  box-sizing: border-box;
}
.frame-child72,
.rectangle-parent42 {
  border-radius: var(--br-9xs);
  background-color: var(--white);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
}
.rectangle-parent42 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) 0 var(--padding-lg);
  gap: var(--gap-lgi);
  max-width: 100%;
}
.frame-child72 {
  align-self: stretch;
  height: 140px;
  position: relative;
  display: none;
}
.owner,
.vector-icon21 {
  position: relative;
  z-index: 1;
}
.owner {
  width: 53px;
  border: 0;
  outline: 0;
  font-weight: 600;
  font-family: var(--font-poppins);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 22px;
  line-height: 22px;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.vector-icon21 {
  width: 14px;
  height: 14px;
}
.owner-parent,
.vector-wrapper15 {
  display: flex;
  align-items: flex-start;
}
.vector-wrapper15 {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.owner-parent {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.frame-child73,
.frame-wrapper42 {
  align-self: stretch;
  box-sizing: border-box;
}
.frame-wrapper42 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-7xl) 0 var(--padding-11xl);
  max-width: 100%;
}
.frame-child73 {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-gray-400);
  z-index: 1;
}
.frame-parent38 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.enter-name1,
.owner-name {
  position: relative;
  line-height: 22px;
  display: inline-block;
  z-index: 1;
}
.enter-name1 {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  min-width: 120px;
}
.owner-name {
  font-size: var(--font-size-sm);
  font-weight: 500;
  min-width: 93px;
}
.enter-name-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.email-id,
.usermailcom {
  position: relative;
  line-height: 22px;
  z-index: 1;
}
.usermailcom {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  white-space: nowrap;
}
.email-id {
  font-size: var(--font-size-sm);
  font-weight: 500;
  display: inline-block;
  min-width: 57px;
}
.usermailcom-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xs);
}
.frame-parent39,
.frame-wrapper43 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent39 {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper43 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-7xl) 0 var(--padding-11xl);
  box-sizing: border-box;
}
.frame-parent37,
.frame-wrapper41,
.rectangle-parent43 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangle-parent43 {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--white);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-2xs) 0 var(--padding-lg);
  gap: var(--gap-lgi);
}
.frame-parent37,
.frame-wrapper41 {
  flex-direction: row;
  align-items: flex-start;
}
.frame-parent37 {
  flex: 1;
  gap: var(--gap-13xl);
}
.frame-wrapper41 {
  align-self: stretch;
  padding: 0 0 0 var(--padding-16xl-7);
  box-sizing: border-box;
  font-size: var(--font-size-xl);
}
.frame-child74 {
  width: 4.7px;
  height: 8px;
  position: relative;
}
.page-management-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-mini);
}
.frame-child75 {
  align-self: stretch;
  height: 355px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--white);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  display: none;
}
.action1,
.page {
  position: relative;
  line-height: 22px;
  font-weight: 600;
  display: inline-block;
  min-width: 42px;
  z-index: 1;
}
.action1 {
  min-width: 53px;
}
.frame-wrapper44,
.page-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.page-parent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-wrapper44 {
  width: 295px;
  justify-content: flex-start;
  padding: 0 var(--padding-11xl);
  box-sizing: border-box;
}
.action-separator {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  z-index: 1;
}
.frame-parent40 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.dashboard6,
.inventory7,
.reports6 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  min-width: 79px;
  z-index: 1;
}
.inventory7,
.reports6 {
  min-width: 67px;
}
.reports6 {
  min-width: 54px;
}
.configuration4 {
  display: inline-block;
  min-width: 98px;
}
.configuration4,
.contact-management {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  z-index: 1;
}
.page-items {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  min-width: 102px;
}
.add-sub-page {
  text-decoration: underline;
}
.add-sub-page-container {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  min-width: 113px;
  z-index: 1;
}
.add-sub-page1 {
  text-decoration: underline;
}
.add-sub-page-container1 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  min-width: 113px;
  z-index: 1;
}
.add-sub-page2 {
  text-decoration: underline;
}
.add-sub-page-container2 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  min-width: 113px;
  z-index: 1;
}
.add-sub-page3 {
  text-decoration: underline;
}
.add-sub-page-container3 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  min-width: 113px;
  z-index: 1;
}
.add-sub-page4 {
  text-decoration: underline;
}
.add-sub-page-container4 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  min-width: 113px;
  z-index: 1;
}
.page-items-parent,
.page-items1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.page-items1 {
  flex-direction: column;
  gap: var(--gap-mini);
  min-width: 113px;
  color: var(--color-deepskyblue-100);
}
.page-items-parent {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-6xl);
}
.notifications {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  min-width: 89px;
  z-index: 1;
}
.add-sub-page5 {
  text-decoration: underline;
}
.add-sub-page-container5 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  color: var(--color-deepskyblue-100);
  display: inline-block;
  min-width: 113px;
  z-index: 1;
}
.notification-page-add {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-parent42 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  min-width: 192px;
}
.icon-set,
.icon-set1 {
  position: absolute;
  top: 0;
  left: 41px;
  width: 10.9px;
  height: 14px;
  z-index: 1;
}
.icon-set1 {
  left: 0;
  width: 14px;
}
.icon-set-parent {
  align-self: stretch;
  height: 14px;
  position: relative;
}
.vector-icon22,
.vector-icon23 {
  position: absolute;
  top: 0;
  left: 41px;
  width: 10.9px;
  height: 14px;
  z-index: 1;
}
.vector-icon23 {
  left: 0;
  width: 14px;
}
.vector-parent {
  align-self: stretch;
  height: 14px;
  position: relative;
}
.icon,
.vector-icon24 {
  position: absolute;
  top: 0;
  left: 41px;
  width: 10.9px;
  height: 14px;
  z-index: 1;
}
.vector-icon24 {
  left: 0;
  width: 14px;
}
.parent3 {
  align-self: stretch;
  height: 14px;
  position: relative;
}
.vector-icon25,
.vector-icon26 {
  position: absolute;
  top: 0;
  left: 41px;
  width: 10.9px;
  height: 14px;
  z-index: 1;
}
.vector-icon26 {
  left: 0;
  width: 14px;
}
.vector-group {
  align-self: stretch;
  height: 14px;
  position: relative;
}
.vector-icon27,
.vector-icon28 {
  position: absolute;
  top: 0;
  left: 41px;
  width: 10.9px;
  height: 14px;
  z-index: 1;
}
.vector-icon28 {
  left: 0;
  width: 14px;
}
.vector-parent1 {
  align-self: stretch;
  height: 14px;
  position: relative;
}
.vector-icon29,
.vector-icon30 {
  position: absolute;
  top: 0;
  left: 41px;
  width: 10.9px;
  height: 14px;
  z-index: 1;
}
.vector-icon30 {
  left: 0;
  width: 14px;
}
.vector-parent2 {
  align-self: stretch;
  height: 14px;
  position: relative;
}
.icon-row,
.icon-row-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon-row {
  align-self: stretch;
  gap: 23px;
}
.icon-row-wrapper {
  width: 51.9px;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.frame-parent41,
.frame-wrapper45 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent41 {
  flex: 1;
  justify-content: flex-start;
  gap: 50px;
}
.frame-wrapper45 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 29.1px 0 var(--padding-11xl);
  box-sizing: border-box;
  font-size: var(--font-size-sm);
}
.add-a-new,
.frame-child76 {
  position: relative;
  z-index: 1;
}
.frame-child76 {
  align-self: stretch;
  height: 1px;
  border-top: 1px solid var(--color-gray-400);
  box-sizing: border-box;
}
.add-a-new {
  line-height: 22px;
  font-weight: 500;
}
.add-a-new-page-wrapper,
.line-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.add-a-new-page-wrapper {
  flex-direction: row;
  padding: 0 var(--padding-11xl);
}
.line-parent {
  align-self: stretch;
  flex-direction: column;
  gap: 14px;
  font-size: var(--font-size-lg);
  color: var(--color-deepskyblue-100);
}
.rectangle-parent44 {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--white);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-2xs) 0 19px;
  gap: 21px;
  min-width: 296px;
}
.frame-parent36,
.page-management,
.rectangle-parent44 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.page-management {
  width: 511.7px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
  gap: var(--gap-12xl);
  font-size: var(--font-size-base);
}
.frame-parent36 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xl);
}
.frame-wrapper39 {
  width: 988.3px;
  flex-direction: row;
  padding: 0 var(--padding-9xs) 0 var(--padding-8xs-3);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-100);
}
.configurations,
.frame-parent31,
.frame-wrapper39 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-family: var(--font-poppins);
}
.frame-parent31 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-10xl-6);
  max-width: calc(100% - 256px);
  font-size: var(--font-size-xs);
  color: var(--color-gray-100);
}
.configurations {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  flex-direction: row;
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--font-size-sm);
  color: var(--white);
}
@media screen and (max-width: 900px) {
  .page-structure {
    display: none;
  }
  .frame-parent32,
  .frame-parent37 {
    flex-wrap: wrap;
  }
  .frame-parent31 {
    max-width: 100%;
  }
  .configurations {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 700px) {
  .frame-parent37 {
    gap: var(--gap-base);
  }
  .page-management {
    gap: var(--gap-mini);
  }
}
@media screen and (max-width: 450px) {
  .frame-parent26 {
    padding-bottom: 82px;
    box-sizing: border-box;
  }
  .frame-parent26,
  .page-structure {
    gap: var(--gap-mini);
  }
  .frame-parent33 {
    flex-wrap: wrap;
    gap: var(--gap-23xl);
  }
  .configurations1 {
    font-size: var(--font-size-lgi);
    line-height: 19px;
  }
  .enter-name,
  .ph349ty228 {
    font-size: var(--font-size-base);
    line-height: 18px;
  }
  .input-rows {
    flex-wrap: wrap;
  }
  .enter-name1,
  .usermailcom {
    font-size: var(--font-size-base);
    line-height: 18px;
  }
  .frame-parent39 {
    flex-wrap: wrap;
  }
  .page-items1 {
    flex: 1;
  }
  .notification-page-add,
  .page-items-parent {
    flex-wrap: wrap;
  }
  .frame-parent41 {
    flex-wrap: wrap;
    gap: var(--gap-6xl);
  }
}
